/* .app {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: flex-start;
}

.main {
  background-color: rgb(218, 218, 218);
  padding: 20px;
}

.to-do-list {
  list-style-type: none;
}

.inputboxlabel {
  padding: 10px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: rgb(142, 43, 235);
  color: white;
  margin: 10px;
  padding: 7px 14px;
  border: none;
  border-radius: 5px;
}

.list-box {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(165, 164, 164);
}

.list-box > div {
  display: flex;
  gap: 5px;
} */
